schemas/xsd/query.full.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="query" type="queryType" />
    <xs:complexType name="classType" mixed="true">
        <xs:sequence>
            <xs:element type="xs:string" name="attribute" maxOccurs="unbounded" minOccurs="0" />
            <xs:element type="relationType" name="relation" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional" />
    </xs:complexType>
    <xs:complexType name="qsType">
        <xs:sequence>
            <xs:element type="classType" name="class" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="relationType">
        <xs:sequence>
            <xs:element type="classType" name="class" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional" />
    </xs:complexType>
    <xs:complexType name="qfType">
        <xs:sequence>
            <xs:element type="classType" name="class" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="qpType">
        <xs:sequence>
            <xs:element type="classType" name="class" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="queryType">
        <xs:sequence>
            <xs:element type="qsType" name="qs" />
            <xs:element type="qfType" name="qf" />
            <xs:element type="qpType" name="qp" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" />
    </xs:complexType>
</xs:schema>