noam_impl/schemas/xsd/query.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="queryDoc" type="queryDocType" />
    <xs:complexType name="attributeType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="searchKey" use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="classType">
        <xs:sequence>
            <xs:element name="attribute" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="searchKey" use="optional" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element type="relationType" name="relation" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional" />
    </xs:complexType>
    <xs:complexType name="relationType">
        <xs:sequence>
            <xs:element type="classType" name="class" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional" />
    </xs:complexType>
    <xs:complexType name="queryType">
        <xs:sequence>
            <xs:element type="classType" name="class" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional" />
    </xs:complexType>
    <xs:complexType name="queryDocType">
        <xs:sequence>
            <xs:element type="queryType" name="query" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>